* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.attribution {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.attribution a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}

img {
  width: 100%;
}

.logonav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}
.logo {
  padding-left: 4%;
}
.logo h2 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 25px;
}
.menu {
  padding-right: 4%;
}
.menu ul li {
  display: none;
}

.nonemenu {
  border-radius: 10px;
  display: none;
  position: absolute;
  right: 10%;
  top: 100px;
  margin: auto;
  width: 80vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.nonemenu ul {
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  height: 100%;
}

.nonemenu ul li {
  display: block;

  padding-bottom: 40px;
}
#cont1{
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: #ffd602;
  border-radius: 30px;
  padding:13px 20px 13px 20px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Fraunces", serif;
}
.nonemenu ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: rgb(87, 87, 87);
  font-weight: 900;
  font-size: 20px;
}
.nonemenu ul li a:hover {
  color: #fe9b00;
}

/* ======================================== */
.container-laranja {
  background-image: url(./images/mobile/image-header.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-position: center;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-laranja h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 25% 0 15% 0;
}

.container-laranja .arrow {
  padding: 20% 0 20% 0;
  position: relative;
  top: -60px;
}

/* ===============egg=============== */
.egg {
  width: 100%;
  height: 40vh;
  background-image: url(./images/mobile/image-transform.jpg);
  background-position: center;
  background-size: cover;
}

.cup {
  width: 100%;
  height: 40vh;
  background-image: url(./images/mobile/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
}

/* ==================== */

.container-brand,
.audience {
  margin-top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.container-brand h2,
.audience h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(9, 0, 59);
  width: 100%;
  max-width: 80%;
  text-align: center;
  padding: 0 0 8% 0;
}

.container-brand p,
.audience p {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  text-align: center;
  color: rgb(146, 146, 146);
  padding: 0 0 15% 0;
  margin: 10px;
}
.learnmore {
  padding: 0 0 20% 0;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}
.learnmore a {
  font-family: "Fraunces", serif;
  color: black;
  font-size: 14px;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  border-bottom: 2px solid hsl(50deg 100% 50%);
}

.audience .learnmore a {
  border-bottom: 2px solid hsl(7deg 98% 82%);
}

/* =================================== */
.cereja,
.laranja-photo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: auto;

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.cereja {
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
}
.cereja h2,
p {
  color: hsl(167, 40%, 24%);
}
.laranja-photo h2,
p {
  color: hsl(198, 62%, 26%);
}
.laranja-photo {
  background-image: url(./images/mobile/image-photography.jpg);
  background-size: cover;
  background-position: center;
}
.cereja h2,
.laranja-photo h2 {
  text-align: center;
  padding-top: 300px;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 900;

  position: relative;
  top: 50px;
}
.cereja p,
.laranja-photo p {
  text-align: center;
  font-family: "Barlow", sans-serif;

  font-size: 15px;
  padding: 0 5px 0 5px;
  padding-bottom: 41%;
  line-height: 25px;
  position: relative;
  top: 90px;
}

/* ==============LISTA =============== */
.lista-clientes img {
  width: 70px;
  border-radius: 50%;
  margin-top: 70px;
}
.lista-clientes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}
.lista-clientes h2 {
  padding: 60px 10px 0 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  font-family: "Fraunces", serif;
  letter-spacing: 5px;
  margin: 15px;
}

.lista-clientes p {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  line-height: 25px;
  text-align: center;
  color: rgb(146, 146, 146);
  padding: 0 0 8% 0;
  margin: 10px;
}

.lista-clientes h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: rgb(9, 0, 59);
}
.lista-clientes h4 {
  padding-top: 15px;
  font-family: "Barlow", sans-serif;
  color: rgb(146, 146, 146);
  font-size: 14px;
}
.lista-clientes p {
  padding-top: 20px;
}

.lista-clientes #last-title {
  margin-bottom: 30%;
}

/* ============================= */
.flex-quadros img {
  width: 50%;
}
.flex-quadros {
  display: flex;
  flex-wrap: wrap;
}
/* ============footer============ */

.Sunnyside {
  background-color: hsl(169deg 48% 72%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Sunnyside .listaflex {
  display: flex;
}

.Sunnyside h2 {
  font-family: "Josefin Sans", sans-serif;

  font-weight: 900;
  font-size: 40px;

  padding: 15%;
  color: hsl(167, 40%, 24%);
  text-transform: lowercase;
}
.Sunnyside .listaflex li {
  padding: 0 50px 30% 0;
}

.Sunnyside li:last-child {
  padding: 0;
}
.Sunnyside li a {
  color: hsla(167, 40%, 24%, 0.616);
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.icons .icons-contacts {
  display: flex;
}

.icons .icons-contacts li {
  padding: 0 30px 40% 0;
}

.icons li:last-child {
  padding: 0;
}

/* =================Tablet============= */

@media screen and (min-width: 600px) {
  .menu {
    padding-right: 4%;
  }
  .menu svg {
    display: block;
  }
  .menu ul li {
    display: none;
  }

  .nonemenu {
    border-radius: 10px;
    display: none;
    position: absolute;
    right: 8%;
    top: 100px;
    margin: auto;
    width: 80vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  .nonemenu ul {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
  }

  .nonemenu ul li {
    display: block;

    padding-bottom: 40px;
  }

  .nonemenu ul li a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    color: rgb(87, 87, 87);
    font-weight: 900;
    font-size: 25px;
  }
  .nonemenu ul li a:hover {
    color: #fe9b00;
  }

  /* ===============egg=============== */
  .egg {
    width: 100%;
    height: 80vh;
    background-image: url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
  }

  .cup {
    width: 100%;
    height: 80vh;
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
  }

  /* ==================== */

  /* ======================================= */

  .container-laranja {
    background-image: url(./images/mobile/image-header.jpg);
    background-position: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(200deg 100% 62%);
  }

  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-laranja h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20% 0 10% 0;
  }

  .container-laranja .arrow {
    padding: 20% 0 20% 0;
    position: relative;
    top: -100px;
  }

  /* ============================== */

  .container-brand,
  .audience {
    margin-top: 20%;
  }
  .container-brand h2,
  .audience h2 {
    font-size: 35px;
    padding: 0 0 10% 0;
  }

  .container-brand p,
  .audience p {
    font-size: 18px;

    line-height: 30px;

    padding: 0 0 10% 0;
    margin: 0 50px 0 50px;
  }

  .learnmore a {
    font-size: 16px;
  }

  /* =============================== */

  .cereja h2,
  .laranja-photo h2 {
    text-align: center;
    padding-top: 500px;
    font-size: 35px;
  }
  .cereja p,
  .laranja-photo p {
    font-size: 18px;
    padding: 0 60px 0 60px;
    padding-bottom: 40%;
    line-height: 30px;
  }
  /* ===================================== */

  .lista-clientes img {
    width: 130px;
    border-radius: 50%;
    margin-top: 70px;
  }

  .lista-clientes h2 {
    padding: 100px 10px 0 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: "Fraunces", serif;
    letter-spacing: 5px;
    margin: 15px;
  }

  .lista-clientes p {
    font-size: 18px;
    line-height: 30px;

    margin: 0 90px 0 90px;
  }

  .lista-clientes h3 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: rgb(9, 0, 59);
  }

  .lista-clientes #last-title {
    margin-bottom: 25%;
  }

  /* ================================= */

  .Sunnyside .Sunnyside .listaflex {
    display: flex;
  }

  .Sunnyside h2 {
    font-family: "Josefin Sans", sans-serif;

    font-weight: 900;
    font-size: 40px;

    padding: 10% 0;
    color: hsl(167, 40%, 24%);
    text-transform: lowercase;
  }
  .Sunnyside .listaflex li {
    padding: 0 50px 15% 0;
  }

  .Sunnyside li:last-child {
    padding: 0;
  }
  .Sunnyside li a {
    color: hsla(167, 40%, 24%, 0.616);
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
  }

  .icons .icons-contacts {
    display: flex;
  }

  .icons .icons-contacts li {
    padding: 0 30px 40% 0;
  }

  .icons li:last-child {
    padding: 0;
  }
}
/* ========================desktop=================== */

@media screen and (min-width: 850px) {
  body {
    width: 100%;
    margin: auto;
  }

  .menu svg {
    display: none;
  }
  .menu ul li {
    display: block;
  }

  .menu ul {
    display: flex;
  }
  .logonav {
    height: 15vh;
  }
  .logo img {
    padding-top: 8%;
  }

  .menu ul li {
    padding: 0 20px 0 20px;
  }

  .menu ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: "Barlow", sans-serif;
  }
  .menu ul li a:hover {
    color: #fe9b00;
  }
  .nonemenu ul{
    display: none;
  }

  #cont2{

  
      text-transform: uppercase;
      color: rgb(0, 0, 0);
      background-color: #ffffff;
      border-radius: 30px;
      padding:13px 20px 13px 20px;
      font-size: 15px;
      font-weight: normal;
      font-family: "Fraunces", serif;
     
  }

  /* ======================================= */

  .container-laranja {
    background-image: url(./images/desktop/image-header.jpg);
    background-position: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(200deg 100% 62%);
    height: 100vh;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-laranja h1 {
    text-align: center;
    font-size: 55px;
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5% 0 10% 0;
    letter-spacing: 10px;
  }

  .container-laranja .arrow {
    padding: 4% 0 20% 0;
    position: relative;
    top: -100px;
  }

  /* ============================== */

  .container-grid {
    display: grid;
    width: 100%;

    grid-template-areas:
      "brand egg"
      "cup audience"
      "cereja laranja";
    /* grid-template-columns: repeat(2, 1fr); */

    grid-template-rows: 1fr 1fr 1fr;
  }
  .container-grid .egg {
    grid-area: "egg";
    width: 100%;
    height: 100%;
    display: flex;
  }

  .container-grid .container-brand {
    grid-area: "brand";
    grid-row: 1/2;
    text-align: center;

    justify-content: center;
    margin: 0;
    width: auto;
    height: auto;
  }
  .container-grid .cup {
    grid-area: "cup";
    width: 100%;
    height: 100%;
  }

  .container-grid .audience {
    grid-area: "audience";
    text-align: center;

    justify-content: center;
    margin: 0;
    width: auto;
    height: auto;
  }

  .container-grid .cereja {
    grid-area: "cereja";

    margin: 0;
    width: auto;
    position: initial;
  }

  .container-grid .laranja-photo {
    grid-area: "laranja";
    margin: 0;
    width: auto;
    height: 100%;
    padding: 0;
    position: initial;
  }

  /* ============================= */
  .container-brand,
  .audience {
    margin-top: 20%;
  }
  .container-brand h2,
  .audience h2 {
    font-size: 35px;
    padding: 10% 0 10% 0;
  }

  .container-brand p,
  .audience p {
    font-size: 18px;

    line-height: 30px;

    padding: 0 0 10% 0;
    margin: 0 50px 0 50px;
  }

  .learnmore a {
    font-size: 16px;
  }

  /* =============================== */
  .cereja {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
  }
  .laranja-photo {
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
  }
  .cereja,
  .laranja-photo {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cereja h2,
  .laranja-photo h2 {
    text-align: center;
    padding: 0;
    font-family: "Fraunces", serif;
    font-size: 28px;
    font-weight: 900;
    padding-top: 25%;
  }

  .cereja p,
  .laranja-photo p {
    text-align: center;
    font-family: "Barlow", sans-serif;
    width: 300px;

    font-size: 15px;
    padding: 0;
    padding-bottom: 70px;

    line-height: 25px;
  }

  /* ==============LISTA =============== */
  .lista-clientes img {
    width: 70px;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 15%;
  }
  .lista-clientes {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    height: 105vh;
  }
  .lista-clientes ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: -150px 10% 10% 10%;
  }
  .lista-clientes h2 {
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    font-family: "Fraunces", serif;
    letter-spacing: 5px;
    margin: 8rem;
  }

  .lista-clientes p {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    line-height: 25px;
    text-align: center;
    color: rgb(146, 146, 146);
    padding: 0 0 8% 0;
    margin: initial;
  }

  .lista-clientes h3 {
    font-family: "Fraunces", serif;
    font-weight: 900;

    color: rgb(9, 0, 59);
  }
  .lista-clientes h4 {
    padding-top: 15px;
    font-family: "Barlow", sans-serif;
    color: rgb(146, 146, 146);
    font-size: 14px;
  }
  .lista-clientes p {
    width: 300px;
  }

  .lista-clientes #last-title {
    margin-bottom: initial;
  }

  /* ============================= */
  .flex-quadros img {
    width: 25%;
  }
  /* ================================= */

  .Sunnyside .listaflex {
    display: flex;
  }

  .Sunnyside h2 {
    font-family: "Josefin Sans", sans-serif;

    font-weight: 900;
    font-size: 40px;

    padding: 10% 0 4% 0;
    color: hsl(167, 40%, 24%);
    text-transform: lowercase;
  }
  .Sunnyside .listaflex li {
    padding: 0 70px 25% 0;
  }

  .Sunnyside li:last-child {
    padding: 0;
  }
  .Sunnyside li a {
    color: hsla(167, 40%, 24%, 0.616);
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
  }

  .icons .icons-contacts {
    display: flex;
  }

  .icons .icons-contacts li {
    padding: 0 50px 40% 0;
  }

  .icons li:last-child {
    padding: 0;
  }
}